<!DOCTYPE html>
<title>Stack Knowledge</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<link href="https://fonts.googleapis.com/earlyaccess/mplus1p.css" rel="stylesheet" type="text/css">
<link rel=stylesheet href="{{ url_for('static', filename='style.css') }}">

<div class="container">
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="{{ url_for('entry.show_stacks') }}">Stack Knowledge</a>
	</nav>

	<div class="container contents">
		<div class="row">
			<div class="col-2">
				<div class="menu">
					{% block menu %}{% endblock %}
				</div>
			</div>
			<div class="col-10">
				<div class="contents">
					{% block body %}{% endblock %}
				</div>
			</div>
		</div>
	</div>

</div>
