{% extends "entry/layout.html" %}

{% block body %}
<form action="{{ url_for('entry.entry_outcomes')}}" method=post class=entry_outcomes>
	<div class="form-group">
		<label for="InputTitle">タイトル</label>
		<input type="text" class="form-control" id="InputTitle" name=title>
	</div>

	<div class="form-group">
		<label for="InputText">本文</label>
		<textarea class="form-control" id="InputText" name=text rows="3"></textarea>
	</div>
	<button type="submit" class="btn btn-primary">データベースに追加</button>
</form>

{% endblock %}