{% extends "display/settings/layout.html" %}

{% block menu %}
	{% with name = "entry.select_display" %} 
		{% include "parts/menu.html" %}
	{% endwith %}
{% endblock %}


{% block body %}

	{% block contents %}{% endblock %}

	<div class="table-responsive">
		<table class="table table-hover table-sm ">
			<caption>List of users</caption>
			<thead>
				<tr>
					<th scope="col"></th>
				{% for menu in display_dict.table_menu %}
					<th scope="col">{{ menu }}</th>
				{% endfor%}
				</tr>
			</thead>
			<tbody>
				{% for data in display_dict.table_date %}
					<tr>
						<th scope="row">{{ loop.index }}</th>
						{% for value in data %}
						<td>
							{{ value }}
						</td>
						{% endfor %}
					</tr>
				{% endfor %}

			</tbody>
		</table>
	</div>


	<form action="{{ url_for('select_entry')}}" method="POST">
		<button type="submit" name="post_value" class="btn btn-primary" value="{{ display_dict.layout_state }}">データベースを編集</button>
	</form>

{% endblock %}