{% extends "layout.html" %}
{% block body %}

<form action="{{ url_for('entry.new_entry')}}" method="GET">
	<button type="submit" class="btn btn-primary">データベースを編集</button>
</form>

<div class="table-responsive">
	<table class="table table-hover table-sm ">
		<caption>List of users</caption>
		<thead>
			<tr>
			{% for key in hoge_entry_datas[0].__dict__.keys() %}
				<th scope="col">{{ key }}</th>
			{% endfor%}
			</tr>
		</thead>
		<tbody>
			{% for data in hoge_entry_datas %}
				<tr>
					<th scope="row">{{ data.id }}</th>
					{% for value in data.__dict__.values() %}
					<td>
						{{ value }}
					</td>
					{% endfor %}
				</tr>
			{% endfor %}

		</tbody>
	</table>
</div>

{% endblock %}